[package]
name = "math-core"
version = "0.1.0"
authors = [
    "Hiromu Sugiura <h.sugiura0705@outlook.com>",
    "Thomas Kehrenberg <tmke8@posteo.net>",
]
edition = { workspace = true }
rust-version = { workspace = true }

description = "Convert LaTeX equations to MathML Core"
repository = "https://github.com/tmke8/math-core"
readme = "README.md"
license = { workspace = true }
keywords = ["latex", "mathml"]
categories = ["science"]

[dependencies]
# lexical-core = { version = "1.0.5", default-features = false, features = ["parse-floats", "std", "compact"] }
mathml_renderer = { path = "../mathml_renderer" }

phf = { version = "0.11.3", features = ["macros"] }
strum_macros = "0.27.1"

[dev-dependencies]
mathml_renderer = { path = "../mathml_renderer", features = ["serde"] }
insta = { version = "1.41.1", features = ["default", "ron"] }
regex = "1.11.1"
